<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
    
    <!-- stile -->
    <th:block th:replace="~{fragments/fragment :: style}">
    </th:block>
</head>

<body>
    <main class="back-antique">
        <div th:replace="~{fragments/fragment :: list-style(elementList=${movieList}, linkPrefix='movies', titleProperty='title', idProperty='id', headerText='Guarda i film più entusiasmanti:')}">
        </div>
    </main>
</body>

</html>