<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    
    <!-- stile -->
    <th:block th:replace="~{fragments/fragment :: style}">
    </th:block>
</head>

<body>
    <h1>
        Watch the best movies:
    </h1>

    <div class="col-4" th:each="movie : ${movieList}">
        <div class="card" th:object="${movie}">
            <div class="card-body">
                <h3 class="card-title" th:text="|*{title}|">
                </h3>
                <p class="card-text">
                    Durata: [[*{length}]] minuti <br>
                    Descrizione: [[*{description}]]
                </p>
            </div>
        </div>
    </div>
</body>

</html>