<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies - [[${movie.title}]]</title>
    
    <!-- stile -->
    <th:block th:replace="~{fragments/fragment :: style}">
    </th:block>
</head>
<body>
    <div class="container" th:object="${movie}">
        <h1 th:text="*{title}">
        </h1>
        <p class="card-text">
            Durata: [[*{length}]] minuti <br>
            Descrizione: [[*{description}]]
        </p>
    </div>
</body>
</html>