* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mantis-green: #7AC74F;
    --antique-white: #FFEEDB;
    --power-purple: #706993;
    --rich-midnight: #011C27;
}

main {
    height: 100vh;
}

h1 {
    color: var(--power-purple);
}

p {
    color: var(--rich-midnight);
}

.hover:hover {
    scale: 1.1 !important;
}

/* #region colori */
.back-mantis {
    background-color: var(--mantis-green) !important;
}

.mantis {
    color: var(--mantis-green) !important;
}

.back-antique {
    background-color: var(--antique-white) !important;
}

.antique {
    color: var(--antique-white) !important;
}

.back-purple {
    background-color: var(--power-purple) !important;
}

.purple {
    color: var(--power-purple) !important;
}

.back-midnight {
    background-color: var(--rich-midnight) !important;
}

.midnight {
    color: var(--rich-midnight) !important;
}
/* #endregion colori */